page-my-processes-pending-approval-popup {

}
@media (max-width: 767px)
{
  @media screen and(orientation: landscape) {
    ion-modal{
      .modal-wrapper page-my-processes-pending-approval-popup{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 70%;
        height: 70%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
  @media screen and(orientation: portrait) {
    ion-modal{
      .modal-wrapper page-my-processes-pending-approval-popup{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
}

@media (min-width: 768px) 
{
  @media screen and(orientation: landscape) {
      .modal-wrapper page-my-processes-pending-approval-popup{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 70%;
    }
  }
  @media screen and(orientation: portrait) {
      .modal-wrapper page-my-processes-pending-approval-popup{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 70%;
      }
  }
  
}