application-tabs{
    .tab-button-icon{
        min-width: 30px !important;
        height: 30px !important;
    }
    .tab-button-icon {
        transform: none!important;
    }
    .tab-button-text {
        transform: none!important;
    }
}