page-fileprogressbar {
     .progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
    .filename
    {
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
    }
 
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }
}

@media (max-width: 767px)
{
  @media screen and(orientation: landscape) {
    ion-modal{
      .modal-wrapper page-fileprogressbar{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 70%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
  @media screen and(orientation: portrait) {
    ion-modal{
      .modal-wrapper page-fileprogressbar{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 70%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
}
@media (min-width: 767px)
{
  @media screen and(orientation: landscape) {
    ion-modal{
      .modal-wrapper page-fileprogressbar{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 65%;
        height: 35%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
  @media screen and(orientation: portrait) {
    ion-modal{
      .modal-wrapper page-fileprogressbar{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 85%;
        height: 35%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
}