<!--
  Generated template for the AppProcessLookupPopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="border-radius: 10px;">

	<ion-navbar style="border-top-left-radius: 10px;border-top-right-radius: 10px;">
		<ion-title>{{data.title}}</ion-title>
	</ion-navbar>



</ion-header>
<ion-content style="border-radius: 13px;">
  <div class="row">
                  <div id="createNew" #createNew layout="column">
                  </div>
              </div>

</ion-content>