page-notificationpopup {
   .unread {color: #559fe9 !important;}
   .item-md p {
      margin: inherit!important;
    }
}
@media (max-width: 767px)
{
  @media screen and(orientation: landscape) {
    ion-modal{
      .modal-wrapper{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 70%;
        height: 70%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
  @media screen and(orientation: portrait) {
    ion-modal{
      .modal-wrapper{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 85%;
        height: 50%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
}
@media (min-width: 767px)
{
  @media screen and(orientation: landscape) {
    ion-modal{
      .modal-wrapper{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 70%;
        height: 70%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
  @media screen and(orientation: portrait) {
    ion-modal{
      .modal-wrapper{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 70%;
        height: 50%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
}