page-lookup-action-modal {
  .updated
  {
    background-color: #dadada;
  }
}

@media (max-width: 767px)
{
  @media screen and(orientation: landscape) {
    ion-modal{
      .modal-wrapper page-lookup-action-modal{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
  @media screen and(orientation: portrait) {
    ion-modal{
      .modal-wrapper page-lookup-action-modal{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
}
@media (min-width: 767px)
{
  @media screen and(orientation: landscape) {
    ion-modal{
      .modal-wrapper page-lookup-action-modal{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
  @media screen and(orientation: portrait) {
    ion-modal{
      .modal-wrapper page-lookup-action-modal{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      ion-backdrop
      {
        visibility: visible
      }
    }
  }
}