page-my-processes {

    div.searchbar-input-container > div.searchbar-search-icon
    {
      background-image: url("./../assets/icon/search_placeholder.png")
    }
    .bluecolor
    {
      color: #007aff;
    }
    .greycolor
    {
      color: #8e9093;
    }
}